/* Hoja de estilo */
/* main {
    padding: 8rem;
    border: 10px rgb(251, 173, 186) solid;
    margin: 5rem;
    border-radius: 2rem; 
} */
 /*Ejemplos de clase y id 
 ·parrafo {
    line-height:1.5;
    color: #070000
    font-family: "Montserrat", sans-serif; 
}
*/
/*Css grid, mi reticula*/
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
} 

header {
    background-color: rgb(255, 168, 216);
    grid-column-start: 1;
    grid-column-end: 4;
}
main { 
    grid-column-start: 1;
    grid-column-end: 4;
}
footer {
    background-color: rgb(255, 157, 211);
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
}
/*Estilos tipogràficos*/
h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 5rem;
    padding-bottom: 1rem;
}
p {
    font-family: "Playfair Display", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.8;
    padding-bottom: 1rem;

}
/*Estilo imagenes*/

img{
    object-fit: cover;
    width: 100%;
}
#logo {
    width: 120px;
}
/*Estilos de navegaciòn*/
nav {
    display: flex;
    justify-content: space-between;
}
header li {
    list-style: none;
    display: inline;
    padding: 0 1 rem;
    font-family: "Grey Qo", cursive;
    font-weight: 600;
    font-style: italic;
}
header a {
    text-decoration:none;
    color: rgb(236, 71, 203);
    transition: all .03s ease 0s;
}
header a:hover {
    color: aliceblue;
}
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: .8rem;
    padding: 1rem 0;
}
pre, cite {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 2;
}
cite {
    font-size: 2rem;
}
